.container {
    width: 100%;
    max-width: 1460px;
    margin: 0px auto;
    padding: 0px 60px;
    empty-cells: hide;

    @media(max-width: 1200px) {
        padding: 0px 15px;
    }
}

#usp {
    transition: 200ms opacity;
    empty-cells: hide;
}

body {
    background: #0F1011;
    empty-cells: hide;
}

.goldTexture {
    background-color: #BE945C;
    background-image: url('/img/general/goldTexture.webp');
    -webkit-background-clip: text;
    background-size: 100%;
    background-clip: text;
    color: transparent;
    text-fill-color: transparent;
    empty-cells: hide;
}

.textHeader {
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;

    img {
        width: 70px;
    }

    @media(max-width: 900px) {
        gap: 20px;

        img {
            width: 50px;
        }
    }

    .goldTexture {
        font-weight: 500;
        background-size: 200%;
        font-size: 56px;
        text-align: center;

        @media(max-width: 900px) {
            font-size: 36px;
        }
    }
}

.app {
    width: 100%;
    overflow: hidden;
    empty-cells: hide;
}


.bg {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -2;
    empty-cells: hide;
}

#bg {
    transition: 500ms opacity;
    opacity: 0;
    empty-cells: hide;
}

.lightRight {
    justify-content: right;
}

img,
svg {
    opacity: 0;
    transition: 1000ms opacity;
    empty-cells: hide;
}

.lightLeft,
.lightRight {
    width: 100dvw;
    display: flex;
    empty-cells: hide;
    position: relative;
    z-index: -1;
    // overflow-y: hidden;
    // display: none;

    img {
        opacity: 1 !important;
    }
}