.cases {
    margin-top: 120px;


    .container {
        margin-top: 90px;
        display: flex;
        justify-content: center;

        @media(max-width: 1000px) {
            flex-wrap: wrap;
            margin-top: 20px;
        }
    }

    &_nav:first-child {
        @media(max-width: 1000px) {
            justify-content: right;
        }

        @media(max-width: 400px) {
            justify-content: center;
        }
    }

    &_nav:last-child {
        @media(max-width: 1000px) {
            justify-content: left;
        }

        @media(max-width: 400px) {
            justify-content: center;
        }
    }

    &_nav {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        width: 30%;
        align-items: center;
        align-content: center;

        @media(max-width: 1200px) {
            gap: 12px;
        }

        @media(max-width: 1000px) {
            order: 2;
            width: 50%;
            padding: 0px 6px;
        }

        @media(max-width: 550px) {
            gap: 6px;
            padding: 0px 3px;
        }

        @media(max-width: 400px) {
            width: 100%;
        }


        &_element {
            &_imgs {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 130px;
                height: 130px;

                @media(max-width: 1200px) {
                    width: 110px;
                    height: 110px;
                }

                @media(max-width: 550px) {
                    width: 80px;
                    height: 80px;
                }

                &_wrapper {
                    width: 130px;
                    height: 130px;
                    transition: 150ms transform;

                    @media(max-width: 1200px) {
                        width: 110px;
                        height: 110px;
                    }

                    @media(max-width: 550px) {
                        width: 80px;
                        height: 80px;
                    }
                }

                &_content {
                    width: 115px;
                    height: 115px;
                    transition: 150ms transform;

                    @media(max-width: 1200px) {
                        width: 92px;
                        height: 92px;
                        border-radius: 0px;
                    }

                    @media(max-width: 550px) {
                        width: 70px;
                        height: 70px;
                    }
                }

            }

            &_text {
                margin-top: 12px;
                text-align: center;
                background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(139, 94, 53, 1) 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                text-fill-color: transparent;
                font-size: 18px;
                font-weight: 600;

                @media(max-width: 1200px) {
                    margin-top: 8px;
                    font-size: 16px;
                }

                @media(max-width: 550px) {
                    margin-top: 4px;
                    font-size: 12px;
                }

                width: 130px;
                height: 50px;

                @media(max-width: 1200px) {
                    width: 110px;
                    height: 40px;
                }

                @media(max-width: 550px) {
                    width: 80px;
                }
            }
        }

        &_element:hover {
            cursor: pointer;

            .cases_nav_element_imgs_wrapper {
                transform: rotate(10deg);
            }

            .cases_nav_element_imgs_content {
                transform: rotate(-5deg) scale(1.05);
            }
        }

        &_elementSelected {
            .cases_nav_element_imgs_wrapper {
                transform: rotate(45deg);
            }

            .cases_nav_element_imgs_content {
                transform: rotate(-10deg) scale(1.1);
            }
        }

    }

    &_content {
        width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 1400px) {
            width: 500px;
        }

        @media(max-width: 1000px) {
            order: 1;
            height: 500px;
        }

        &_phone {
            img {
                width: 495px;

                @media(max-width: 1000px) {
                    width: 345px;
                }
            }
        }

        &_inner,
        &_loader {

            img {
                width: 331px;

                @media(max-width: 1000px) {
                    width: 232px;
                }
            }
        }
    }
}